.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: inset 1px 2px 2px 0 #ffffff70, inset -1px -2px 2px 0 #00000030, 1px 1px 4px 0 #00000010;
}

.page-title {
    font-size: 36px;
    font-weight: 600;
    color: var(--sidebar-bg);
    letter-spacing: -0.5px;
    line-height: 1;
    margin: 0;
}
